@import url("https://fonts.googleapis.com/css2?family=Alata&family=Inter:wght@400;700&family=Josefin+Sans:wght@300;400;700&family=Kumbh+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root[data-theme=light] {
  --brightBlue: hsl(220, 98%, 61%);
  --bgColor: hsl(236, 33%, 92%);
  --itembgColor: hsl(0, 0%, 98%);
  --text: hsl(235, 19%, 35%);
  --formText: hsl(236, 9%, 61%);
  --crossedText: hsl(233, 11%, 84%);
  --bgimage: url(../images/bg-desktop-light.jpg);
  --bgCheckbox: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

:root[data-theme=dark] {
  --brightBlue: hsl(220, 98%, 61%);
  --bgimage: url(../images/bg-desktop-dark.jpg);
  --bgColor: hsl(235, 21%, 11%);
  --itembgColor: hsl(235, 24%, 19%);
  --text: hsl(234, 39%, 85%);
  --formText: hsl(234, 11%, 52%);
  --crossedText: hsl(233, 14%, 35%);
  --bgCheckbox: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 45vh;
  background-image: var(--bgimage);
  background-repeat: no-repeat;
  background-size: contain;
}

.mainNav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.mainNav h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 15px;
  font-size: 50px;
}
.mainNav .switchTheme.moon {
  display: block;
  width: 26px;
  height: 26px;
  background-image: url(../images/icon-moon.svg);
  cursor: pointer;
}
.mainNav .switchTheme.sun {
  display: block;
  width: 26px;
  height: 26px;
  background-image: url(../images/icon-sun.svg);
  cursor: pointer;
}

.newTodo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.newTodo .addTodo {
  width: 43%;
  height: 8vh;
  border-radius: 12px;
  padding-left: 5rem;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: var(--itembgColor);
  color: var(--text);
}
.newTodo .inputCircle {
  position: absolute;
  left: 30%;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid var(--crossedText);
  margin-left: 0rem;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--bgColor);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.todoWrapper {
  position: absolute;
  top: 38%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}
.todoWrapper ul {
  list-style: none;
}
.todoWrapper li {
  display: flex;
  align-items: center;
  list-style: none;
  height: 10vh;
  background-color: var(--itembgColor);
  border-bottom: 1px solid var(--crossedText);
  padding: 2rem;
}
.todoWrapper li:first-child {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.todoList {
  width: 86%;
  height: auto;
}
.todoList .checkedInp label {
  margin-left: 2rem;
  color: var(--crossedText);
}
.todoList li.sortbycompleted {
  display: none;
}
.todoList label {
  margin-left: 2rem;
  color: var(--text);
}

.add_items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 86%;
  height: 7vh;
  padding: 1rem;
  background-color: var(--itembgColor);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.add_items span {
  color: var(--formText);
}

.drag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10vh;
  color: var(--text);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 4vh;
  color: var(--text);
}

.checkedInp {
  text-decoration: line-through;
  color: var(--crossedText);
}

.wrapperDelete {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.deleteTodo {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../images/icon-cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

input[type=text] {
  background-color: var(--itembgColor);
}

input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid var(--crossedText);
  cursor: pointer;
}
input[type=checkbox]:checked {
  background-image: url(../images/icon-check.svg), var(--bgCheckbox);
  background-repeat: no-repeat;
  background-position: center;
}

input[type=submit] {
  background-color: var(--itembgColor);
  border: none;
  cursor: pointer;
  margin-right: 1rem;
  color: var(--formText);
}
input[type=submit]:hover {
  color: var(--brightBlue);
  font-weight: 700;
}

* {
  font-family: "Josefin Sans", sans-serif;
}/*# sourceMappingURL=style.css.map */