@use "../abstracts/colors";

header {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 45vh;
	background-image: var(--bgimage);
	background-repeat: no-repeat;
	background-size: contain;
}

.mainNav {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	h1 {
		color: white;
		text-transform: uppercase;
		letter-spacing: 15px;
		font-size: 50px;
	}
	.switchTheme.moon {
		display: block;
		width: 26px;
		height: 26px;
		background-image: url(../images/icon-moon.svg);
		cursor: pointer;
	}
}
.newTodo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	.addTodo {
		width: 43%;
		height: 8vh;
		border-radius: 12px;
		padding-left: 5rem;
		border: none;
		outline: none;
		font-size: 16px;
		background-color: var(--itembgColor);
		color: var(--text);
	}
	.inputCircle {
		position: absolute;
		left: 30%;
		width: 30px;
		height: 30px;
		border-radius: 100%;
		border: 1px solid var(--crossedText);
		margin-left: 0rem;
	}
}
