@use "../abstracts/colors.scss" as *;
@use "../abstracts/colors" as *;

body {
	width: 100%;
	height: 100vh;
	background-color: var(--bgColor);
}
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50%;
}
.todoWrapper {
	position: absolute;
	top: 38%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 50%;
	ul {
		list-style: none;
	}
	li {
		display: flex;
		align-items: center;
		list-style: none;
		height: 10vh;
		background-color: var(--itembgColor);
		border-bottom: 1px solid var(--crossedText);
		padding: 2rem;
		&:first-child {
			border-top-left-radius: 12px;
			border-top-right-radius: 12px;
		}
	}
}
.todoList {
	width: 86%;
	height: auto;
	.checkedInp label {
		margin-left: 2rem;
		color: var(--crossedText);
	}
	li.sortbycompleted {
		display: none;
	}
	label {
		margin-left: 2rem;
		color: var(--text);
	}
}
.add_items {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 86%;
	height: 7vh;
	padding: 1rem;
	background-color: var(--itembgColor);
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	span {
		color: var(--formText);
	}
}
.drag {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 10vh;
	color: var(--text);
}
footer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 4vh;
	color: var(--text);
}
.checkedInp {
	text-decoration: line-through;
	color: var(--crossedText);
}
.wrapperDelete {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.deleteTodo {
	display: block;
	width: 40px;
	height: 40px;
	background-image: url(../images/icon-cross.svg);
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}
