@use "../abstracts/colors.scss" as *;
@use "../abstracts/colors" as *;
@use "../components/brakepoints" as *;

body {
	width: 100%;
	height: 100vh;
	background-color: var(--bgColor);
}
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50%;
}
.todoWrapper {
	position: absolute;
	top: 38%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 50%;
	ul {
		list-style: none;
	}
	li {
		display: flex;
		align-items: center;
		list-style: none;
		height: 10vh;
		background-color: var(--itembgColor);
		border-bottom: 1px solid var(--crossedText);
		padding: 2rem;
		&:first-child {
			border-top-left-radius: 12px;
			border-top-right-radius: 12px;
		}
	}
}
.todoList {
	width: 86%;
	height: auto;
	.checkedInp label {
		margin-left: 2rem;
		color: var(--crossedText);
	}
	li.sortbycompleted {
		display: none;
	}
	label {
		margin-left: 2rem;
		color: var(--text);
	}
}
.add_items {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 86%;
	height: 7vh;
	padding: 1rem;
	background-color: var(--itembgColor);
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	span {
		color: var(--formText);
	}
}
.drag {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 10vh;
	color: var(--text);
}
footer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 4vh;
	color: var(--text);
}
.checkedInp {
	text-decoration: line-through;
	color: var(--crossedText);
}
.wrapperDelete {
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.deleteTodo {
	right: 10%;
	position: absolute;
	display: block;
	width: 40px;
	height: 40px;
	background-image: url(../images/icon-cross.svg);
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	margin-top: -1.5rem;
}
.dragging {
	background-color: hsl(236, 24%, 25%) !important;
}

@include md {
	.todoWrapper {
		position: absolute;
		top: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 95%;
		ul {
			list-style: none;
		}
		li {
			display: flex;
			align-items: center;
			list-style: none;
			height: 6vh;
			background-color: var(--itembgColor);
			border-bottom: 1px solid var(--crossedText);
			padding: 2rem;
			&:first-child {
				border-top-left-radius: 6px;
				border-top-right-radius: 6px;
			}
		}
	}
	.deleteTodo {
		margin-top: -0.5rem;
	}
	.todoList {
		width: 85%;
		height: auto;
		.checkedInp label {
			margin-left: 2rem;
			color: var(--crossedText);
		}
		li.sortbycompleted {
			display: none;
		}
		label {
			margin-left: 2rem;
			color: var(--text);
		}
	}
	.add_items {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 85%;
		height: 7vh;
		padding: 1rem;
		background-color: var(--itembgColor);
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
		font-size: 13px;
		span {
			color: var(--formText);
		}
	}
	.middleInputs {
		display: flex;
		justify-content: center;
		position: absolute;
		width: 85%;
		height: 5vh;
		margin-top: 7rem;
		margin-left: -1rem;
		background: var(--itembgColor);
	}
	.drag {
		display: none;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 20vh;
		color: var(--text);
	}
	footer {
		height: 20vh;
	}
}
